/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}*/


body {
  font-family: 'Trade Winds', cursive;
  background-image: url("http://bit.ly/1b2RBS1");
}

.racer tr td{
  border: 2px solid white;
}

.racer_table td {
  height: 96px;
  width: 102px;
  border: 2px dashed blue;
}

#player1_strip td.active {
  background-image: url("http://bit.ly/10uW8IA");
}

#player2_strip td.active {
  background-image: url("http://bit.ly/13m20GB");
}

h1 {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

th {
  color: white;
}
