/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}*/


.racer tr td{
  border: 2px solid white;
}

.racer_table td {
  background-color: black;
  height: 99px;
  width: 99px;
  border: 1px solid blue;
}

#player1_strip td.active {
  background-image: url("http://bit.ly/10uW8IA");
}

#player2_strip td.active {
  background-image: url("http://bit.ly/13m20GB");
}

h1 {
  text-align: center;
  color: blue;
}

a {
  text-decoration: none;
  color: blue;
}
