<div class="container">

  <body>
    <h1>Welcome to JS Racer!</h1>

    <table class="racer_table">
      <tr id="player1_strip">
        <th>Player 1</th>
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="player2_strip">
        <th>Player 2</th>
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <br>
    <h1><a href="app.html">Play Again!</a></h1>
  </body>



  </html>

</div>
