<form class="add_players" action='/create_players' method='post'>
  <input type="text" name="name1" value="Player 1">
  <br>
  <input type="text" name="name2" value="Player 2">
  <br>
  <input type="submit" value="Add Players">
  <br>
</form>

<br>
<form action="/create_game" method='get'>
  <input type="submit" value="Play Game">
</form>
<br>
<form action="/create_game" method='get'>
  <input type="submit" value="View Old Results">
</form>
